ch 0/exercises.aux
ch 0/exercises.fdb_latexmk
ch 0/exercises.fls
ch 0/exercises.log
ch 0/exercises.synctex.gz

ch 0/problems.aux
ch 0/problems.fdb_latexmk
ch 0/problems.fls
ch 0/problems.log
ch 0/problems.synctex.gz